body {
    background-color: black;
    color: rgba(255, 255, 255, 0.76);
    text-align: center;
}

h1 {
    color: aquamarine;
    text-align: center;
    font-size: 4.5rem;
    font-family: 'Lobster', cursive;
}

h2 {
    color: rgba(127, 255, 212, 0.759);
    font-family: 'Lobster', cursive;
}

p {
    font-family: cursive;
    color: aquamarine;
}

.column {
    float: left;
    width: 40%;
    padding: 5%;
}